@charset "utf-8";
/* CSS Document */
.wrapper {
  position: relative;
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
/* For devices larger than 400px */
@media (min-width: 400px) {
  .wrapper {
    width: 85%;
    padding: 0; }
}
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
}



body {
  background:url('images/epl_home_road.jpg') repeat center center fixed;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            margin: 0;
            padding: 0;
  margin: 0;
  padding: 0 0 1em 0;
  font-size: 1em;
  line-height: 1.5em;
  color: #414142;
  background-color: #E5E5E5;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: normal;
}


.layoutelem{
  width: 888px;
  float: left;
  display: block;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


#home_header_wrapper{
  border: solid;
  border-color: black;
  border-radius: 20px;
  margin-top: 20px;
  float: center;
  background: black;
  padding: 8px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  zoom: 1;
}

#home_logo{
  text-align: center;
  padding-bottom: 15px;
  opacity: 1;
  filter: alpha(opacity=100);
}

#home_description p{
  text-align: center;
  color: #E5E5E5;
}

#home_points{
  margin-top: 20px;
  float: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 5px;
  padding-top: 15px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  zoom: 1;
}

.home_button{
  padding: 6px 10px;
  background: #780816;
  color: #E5E5E5;
  border: solid;
  border-color: #780816;
  border-radius: 20px;
  opacity: 1;
  filter: alpha(opacity=100);
  zoom: 1;
}

.home_button:hover{
  color: white;
  background: #971320;
  border-color: #971320;
}

.point{
  border: solid;
  border-radius: 20px;
  border-color: black;
  padding: 10px 6px;
  background: black;
  display: inline-block;
  text-align: center;
  max-width: 254px;
  min-height: 300px;
  vertical-align: top;
}

.point p {
  color: #E5E5E5;
}

.point h2 a{
  color: #780816;
}

.point h2 a:hover{
  color: #971320;
  text-decoration: underline;
}

.nav{
  background-color: #651D20;
}

.nav ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}
.nav ul li {
  color: white;
  font: bold 12px/18px sans-serif;
  display: inline-block;
  /*margin-right: -4px;*/
  position: relative;
  padding: 15px 35px;
  /*padding: 15px 37.5px;*/
  background: #651D20;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.nav ul li:hover {
  background: #555;
  color: #fff;
}
.nav ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
.nav ul li ul li { 
  width: 155px;
  background: #555; 
  display: block; 
  color: #fff;
  padding-left: 15px;
  padding-right: 5px;
}
/* For dropdown menu color*/
.nav ul li ul li:hover { background: #3C1113; }
.nav ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.nav a, a:link, a:visited, a:active {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

img {
  max-width: 100%;
  vertical-align: top;
}

#header{
  margin-top: -20px;
  background: #1e1e1e;
  margin-right: 0px;
  padding: 0px 5px;
}

#header:hover{
  cursor: pointer;
}

h1, h2, h3, p {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: normal;
}

.contact_main h1, h2, h3, p {
	margin-left: 10px;
	margin-top: 0px;
}

.contact_entry h1, h2, p {
	margin-left: 10px;
}

.contact_entry a:hover{
  text-decoration: underline;
}

.contact_entry_title{
	font-size: 1.4em;
}

.contact_entry{
  padding-right: 25px;
  padding-left: 10px;
}

.contact_entry_info{
	margin: 0;
	padding: 0;
	margin-left: 15px;
	padding-left: 15px;
  padding-right: 15px;
  margin-right: 15px;
}

.red {
	color: #971320;
}

.ghost_text{
  color: #dfdfdf;
}

.bullets{
  margin-left: 10px;
}

.page_title{
  margin-left: 40px;
  padding-left: 15px;
  margin-bottom: 2px;
}

.section{
	background-color: #f1f1f1;
  padding-top: 10px;
  margin-top: 150px;
}

.section a{
	color: blue;
}

.section h1, h2, h3, p{
	color: #333333;
}

.section_wrapper{
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 25px;
  padding-right: 15px;
}

.layoutelem{
  margin: 0 auto;
}

#footer{
  background: #1e1e1e;
  float: center;
  padding: 15px 5px;
}

#footer p{
  color: #E5E5E5;
  text-align: center;
  }

#footer a{
  color: #971320;
}

#footer a:hover{
  text-decoration: underline;
}

#footer_contact{
  padding-right: 20px;
}

.copyright {
  color: #E5E5E5;
  font-size: 0.4em;
}

.forgot_id a{
  color: black;
  font-size: 1em;
}

.forgot_id a:hover{
  text-decoration: underline;
}

/* resizing */
@media screen and (min-width:601px) {

  #menu {
    position: absolute;
    top: -16px;
    left: -20px;
    width: 250px;
    padding-top: 2em;
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
         -o-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(-35deg) translate(-92px, 22px);  /* Safari 3.1+, Chrome */
       -moz-transform: rotate(-35deg) translate(-92px, 22px);  /* Firefox 3.5-15 */
        -ms-transform: rotate(-35deg) translate(-92px, 22px);  /* IE9+ */
         -o-transform: rotate(-35deg) translate(-92px, 22px);  /* Opera 10.5-12.00 */
            transform: rotate(-35deg) translate(-92px, 22px);  /* Firefox 16+, Opera 12.50+ */
  }

  .rtl #menu {
    position: absolute;
    top: -16px;
    left: auto;
    right: -20px;
    width: 250px;
    padding-top: 2em;
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
         -o-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(35deg) translate(62px, -129px);  /* Safari 3.1+, Chrome */
       -moz-transform: rotate(35deg) translate(62px, -129px);  /* Firefox 3.5-15 */
        -ms-transform: rotate(35deg) translate(62px, -129px);  /* IE9+ */
         -o-transform: rotate(35deg) translate(62px, -129px);  /* Opera 10.5-12.00 */
            transform: rotate(35deg) translate(62px, -129px);  /* Firefox 16+, Opera 12.50+ */
  }

  #menu a {
    display: block;
    padding: .2em 0;
  }

}

@media screen and (max-width:600px) {

  #logo img {
    width: 15%;
  }

}

@media screen and (max-width:404px) { 

  a.nav {
    width: 40%;
  }

  h1, #logo span {
    font-size: 1.5em;
  }

}