@charset "utf-8";
/* CSS Document */

.home {
	font-family: "Century Gothic";
	font-size: 11px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: justify;
	line-height: 16px;
	font-weight: bold;
}

.footer {
	font-size: 9px;
	font-family: "Century Gothic";
	color:#999999;
	}
	
.footer a, .footer a:link, .footer a:active, .footer a:visited {
	color: #CCCCCC;
	font-size: 9px;
	text-decoration: none;
	}

body {
	font-family: "Century Gothic";
	color: #FFFFFF;
	font-size: 12px;
	text-align: justify;
	}
	
a, a:link, a:active, a:visited {
	font-family: "Century Gothic";
	color: #999999;
	font-size: 12px;
	text-align: justify;
	text-decoration: none;
	}
	
a:hover {
	color: #666666;
	}
	
.mainhead {
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
	}
	
.mainheadarrow {
	color: #990000;
	font-weight: bold;
	font-size: 16px;
	}
	
.header {
	font-size: 16px;
	color: #666666;
	font-weight: bold;
	}
	
.subheader {
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	}
	

#twocols{ 

                z-index:20;

}

#leftcol{  

                z-index:10;

}

.moduletablemainnav{ 

                position:absolute;

                top:981px;

                z-index:100;

                margin:0;

                padding:0;
				
				font-family: Geneva, Arial, Helvetica, sans-serif;

}

 

 

#mainlevel-nav,#mainlevel-nav ul{

                color: #FFFFFF;

                margin: 0;

                float: left;

                display: inline;   

                padding-left: 0px;

                padding-right: 0px;

                list-style-type: none;
				font-family: Geneva, Arial, Helvetica, sans-serif;

}

 

#mainlevel-nav li{

                float: left;

                color: white;

}

 

#mainlevel-nav a{

                display:block;

                color:#ffffff;
				font-family: Geneva, Arial, Helvetica, sans-serif;
                text-decoration:none;

                font-weight: bold;

                padding-right: 6px;

                padding-left: 6px;

                text-align:center;

                width:151px;

                height:39px;

                line-height:320%;

}

 

ul#mainlevel-nav li a:hover

{

                color: #cccccc;

                text-decoration: none;

                background: url(images/basicmenu_ro.jpg);

                text-align:center;

                width:151px;

                height:39px;

}

 

/* Second Level navigation */

 

#mainlevel-nav li ul{

                position: absolute;

                display:block;     

                left:-999em;

                width:151px;

                font-weight: bold;

                margin:0;

                

}

#mainlevel-nav li li{

                padding-left: 0px;

                padding-right: 0px;

                color:#ffffff;
				font-weight: bold;

                background: url(images/dropdown_bg.jpg);

                border-right: none;

                border-left: none;

                left:-999em;

                border-top:1px #FFFFFF;

}

#mainlevel-nav li ul a{

                font-weight: bold;

                padding-left: 5px;

                padding-right: 5px;

                width:151px;

                text-align:center;

                color:#ffffff;

                background: url(images/dropdown_bg.jpg);

                border-right: none;

                border-left: none;

}

 

ul#mainlevel-nav li ul a:hover

{

                color: #999999;

                text-decoration: none;

                border-right: none;

                border-left: none;

                width:150px;

                text-align:center;

                padding-left: 5px;

                padding-right: 5px;

                background: #1c1c1c;
				background: url(images/dropdown_bg_hover.jpg);

}

#mainlevel-nav li:hover ul ul,#mainlevel-nav li:hover ul ul ul,#mainlevel-nav li.sfhover ul ul,#mainlevel-nav li.sfhover ul ul ul{

                left:-999em;

}

#mainlevel-nav li:hover ul,#mainlevel-nav li li:hover ul,#mainlevel-nav li li li:hover ul,#mainlevel-nav li.sfhover ul,#mainlevel-nav li li.sfhover ul,#mainlevel-nav li li li.sfhover ul{

 

                left:auto;

                z-index:6000;

}

#mainlevel-nav li li:hover,#mainlevel-nav li li.sfhover{

                background-color:#23465e;

                background:#23465e;

}




