body {
	background-color: #ffffff;
	margin:0px;
	padding:0px;
}
.p {
	margin:0px;
	padding:0px;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-align: inherit;
	color: inherit;
	line-height: inherit;
	vertical-align: top;
}
p {
	padding-top:0px;
	margin-top:0px;
}
img {
	border:0px;
}
div {
	margin:0px;
	padding:0px;
	font-family:verdana; font-size:12px;
}
.AbsWrap {
	width: 100%;
	position: relative;
}
.rowWrap {
	width: 100%;
}
.clearfloat {
	clear:both;
	height:0px;
}
a:link, a:visited{
	COLOR:inherit;
	text-decoration:inherit;
}
#main {

	width:324px;
	margin: 0px auto 0px 0px;
	border: 0px solid #f0f0f0;

}
#redtop {
	margin-left:0px;
	margin-top:0px;
	width:324px;
	height:41px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-image: url(images/redtop.gif);
	overflow:hidden;

}
#blackbottom {
	margin-left:0px;
	margin-top:0px;
	width:324px;
	height:260px;
	margin-bottom:0px;
	float:left;
	display:inline;
	background-image: url(images/blackbottom.gif);
	overflow:hidden;

}
